body{
  background-color: bisque;
  color: #1A181B;
  margin: 0px;
}
nav{
  background-color: rgb(52, 52, 52);;
  padding: 1rem;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav ul li{
  display: inline;
}
nav ul li a{
  float: left;
  text-decoration: none;
  padding: 15px 20px;
  text-align: center;
  color: white;
  background-color: rgb(52, 52, 52);
}
nav a:hover{
  background-color: rgb(19, 19, 19);
  border-radius: 5px;
}
.leftNav, 
.rightNav{
  display: flex;
  gap: 20px;
}
#title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.art{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
  color: black;
}
.icon{
  color: #ffffff;
}
img{
  width: 180px;
  height: 250px;
}
main{
  padding: 5px;
}
.book{
  float: left;
  text-decoration: none;
  padding: 5px;
  width: 180px;
  height:  350px;
  margin: 10px 10px;
  box-shadow: 0 0 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: wrap;
}
.name{
  font-family: fantasy;
  font-size: large;
  margin: 0;
  text-align: center;
}
.author{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color:  #946500;
  margin: 0;
  text-align: center;
}
.add{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.add ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  
}
.add ul li{
  display: inline;
  margin-top: auto;
}
.add ul li button{
  background-color: bisque;
  width: 40px;
  border-radius: 5px;
}
.add ul li button:active{
  background-color: rgb(251, 212, 165);
  width: 40px;
  border-radius: 5px;
}
div.wrapper {
  position: relative;
}
div.scrollmenu {
  background-color: bisque;
  white-space: nowrap;
  overflow: hidden;
  align-items: baseline;
}
div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #fcc37f;
}
.lNav {
  display: inline-block;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  background: bisque;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 50px;
  text-align: center;
}
.rNav {
  display: inline-block;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  background: bisque;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.1em;
  width: 10px;
  height: 50px;
  text-align: center;  
}
footer{
  background-color: rgb(229, 229, 229);
  padding: 1rem;
  display: flex;
  align-items: end;
}
footer ul{
  list-style-type: none;
}
footer a{
  font-size: medium;
  color: #1A181B;
  text-align: center;
  color: rgb(31, 31, 31);
}
footer a:hover{
  font-size: large;
}